$Bebas: Bebas, sans-serif;
$Bebas-weight: 900;
$Helvetica: HelveticaNeue, sans-serif;


html {
  box-sizing: border-box;
  line-height: 1;
}

*, *::before, *::after {
  box-sizing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-image: url('../img/bg-body.png');
  background-repeat: repeat;
}
.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}
.slick-track {
  transform: none !important;
}
.slick-track::before, .slick-track::after {
  display: none;
}
.slider__list-small .slick-track {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: $Bebas;
  font-weight: $Bebas-weight;
  font-size: 36px;
  color: #e8603c;
  &__opacity {
    color: #f3af9d;
  }
}

.header {
  padding: 22px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    &-item {
      display: inline-block;
      margin-right: 27px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      font-family: $Bebas;
      font-weight: $Bebas-weight;
      font-size: 16px;
      color: #b9b9b9;
      text-transform: uppercase;

      &:hover {
        color: #f3af9d;
      }
      &--active {
        color: #e8603c;
        &:hover {
          color:#e8603c;
        }
      } 
    }

  }
}
.box {
  height: 400px;
  background-color: gold;
}
.slider {
  position: relative;

  &__decoration-line {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 60px;
    background-color: #f3af9d;
  }
  &__decoration-bg {
    width: 964px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-image: url('../img/bg-body.png');
    background-repeat: repeat;
  }
  &__list-big {
    margin-bottom: 17px;
  }
  &__item-big {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }
  &__item-small {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 120px;
    width: 140px !important;
    // margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  @for $i from 1 through 6 {
    &__item-#{$i} {
      background-image: url('../img/slider/slider-#{$i}.jpg');
    }
  }
  &__item-description {
    position: absolute;
    bottom: 35px;
    left: 35px;
    width: 414px;
    padding: 23px 27px 23px 18px;
    background-color: rgba(232, 102, 60, .8);
  }
  &__item-title {
    font-family: $Bebas;
    font-weight: $Bebas-weight;
    font-size: 18px;
    color: #fff;
    margin-bottom: 21px;
  }
  &__item-description-text {
    font-family: $Helvetica;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }
}
.features {
  margin-bottom: 44px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 300px;
    
    &-header{
      width: 245px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 35px;
    }
    &-icon {
      margin-right: 22px;
    }
    &-title {
      color: #e8663c;
      font-family: $Bebas;
      font-weight: $Bebas-weight;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: -5px;
    }
    &-description {
      font-size: 12px;
      line-height: 18px;
      font-family: $Helvetica;
      font-weight: 400;
      color: #414141;
      padding-right: 23px;
      margin-top: -4px;
      margin-bottom: 21px;
    }
    &-btn {
      font-family: $Bebas;
      font-weight: $Bebas-weight;
      font-size: 12px;
      color: #fff;
      background-color: #e8663c;
      padding: 10px 14px;
      border: none;
      line-height: 1;
      cursor: pointer;
    }
  }
}
.works {

  &__header{
    background-image: url('../img/works/works__decoraion-line-bg.png');
    background-size: cover;
    &-title {
      display: inline-block;
      padding-right: 20px;
      background-image: url('../img/bg-body.png');
      font-family: $Bebas;
      font-weight: $Bebas-weight;
      font-size: 18px;
      color: #e8603c;
    }
  }
  &__list {
    padding: 24px 0 46px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 220px;
    height: 100%;
    &-img {
      height: 183px;
      background-size: cover;
      background-repeat: no-repeat;
      @for $i from 1 through 4 {
        &-#{$i} {
          background-image: url('../img/works/works__item-#{$i}.jpg')
        }
      }
    }
    &-text {
      padding: 14px;
      border: 1px solid #dbdbdb;
      border-top: none;
      font-family: $Bebas;
      font-weight: $Bebas-weight;
    }
    &-title {
      color: #b9b9b9;
      font-size: 16px;
      height: 16px;
      overflow: hidden;
    }
    &-date {
      color: #e8663c;
      font-size: 11px;
    }
  }
}
.footer {
  position: relative;
  color: #fff;
  &__inner {
    background-color: #e8663c;
    padding: 38px;
    display: flex;
    justify-content: space-between;
  }
  &__decoration-line {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 102, 60, .5);
  }
  &__decoration-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
    width: 964px;
    height: 100%;
    background-image: url('../img/bg-body.png');
    background-repeat:repeat;
  }
  &__title {
    font-family: $Bebas;
    font-weight: $Bebas-weight;
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 25px;
  }
  &__about {
    width: 262px;
    
    &-description {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__twitter {
    width: 220px;

    &-text {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 9px;
      &--darken {
        color: #f3b29d;
        font-weight: 200;
      }
    }
    &-date {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      color: #f3b29d;
    }
    &-item {
      margin-bottom: 19px;
    }
  }
  &__contacts {
    width: 256px;
    &-descr {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 14px;
    }
    &-main {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 20px;
    }
    &-tel {
      font-family: $Helvetica;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      text-decoration: none;
    }
    &-social {
      display: flex;
      &-item {
        margin-right: 5px;
      }
      &-item:last-child {
        margin-right: 0;
      }
    }
  }
}